---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/colors/200477485?api_key=EDMUNDS_API_KEY&fmt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Akamai-Device-Characteristics:
      - device_os=,device_os_version=,is_mobile=false,is_tablet=false,physical_screen_height=,physical_screen_width=,resolution_height=,resolution_width=
      X-Akamai-Edgescape:
      - georegion=246,country_code=US,region_code=CA,city=UNIONCITY,dma=807,pmsa=5775,msa=7362,areacode=510,county=ALAMEDA,fips=06001,lat=37.5970,long=-122.059,timezone=PST,zip=94587,continent=NA,throughput=vhigh,bw=5000,asnum=33651
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-85.mashery.com
    body:
      encoding: UTF-8
      string: '{"id":"200477485","name":"Ibis White","equipmentType":"COLOR","availability":"USED","manufactureOptionName":"Ibis
        White","manufactureOptionCode":"T9T9","category":"Exterior","attributes":[],"colorChips":{"primary":{"r":250,"g":250,"b":250,"hex":"FAFAFA"}}}'
  recorded_at: Sun, 23 Aug 2015 06:31:09 GMT
recorded_with: VCR 2.9.3
