---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/styles/200477465/colors?api_key=EDMUNDS_API_KEY&fmt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Akamai-Device-Characteristics:
      - device_os=,device_os_version=,is_mobile=false,is_tablet=false,physical_screen_height=,physical_screen_width=,resolution_height=,resolution_width=
      X-Akamai-Edgescape:
      - georegion=246,country_code=US,region_code=CA,city=UNIONCITY,dma=807,pmsa=5775,msa=7362,areacode=510,county=ALAMEDA,fips=06001,lat=37.5970,long=-122.059,timezone=PST,zip=94587,continent=NA,throughput=vhigh,bw=5000,asnum=33651
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-85.mashery.com
    body:
      encoding: UTF-8
      string: '{"colors":[{"id":"200477485","name":"Ibis White","equipmentType":"COLOR","availability":"USED","manufactureOptionName":"Ibis
        White","manufactureOptionCode":"T9T9","category":"Exterior","attributes":[],"colorChips":{"primary":{"r":250,"g":250,"b":250,"hex":"FAFAFA"}}},{"id":"200477484","name":"Nougat
        Brown","equipmentType":"COLOR","availability":"USED","manufactureOptionName":"Nougat
        Brown","manufactureOptionCode":"VB","category":"Interior","attributes":[],"colorChips":{"primary":{"r":93,"g":69,"b":57,"hex":"5D4539"}},"fabricTypes":[{"name":"FABRIC_TYPE_1","value":"leather"}]},{"id":"200477483","name":"Black","equipmentType":"COLOR","availability":"USED","manufactureOptionName":"Black","manufactureOptionCode":"FZ","category":"Interior","attributes":[],"colorChips":{"primary":{"r":17,"g":28,"b":27,"hex":"111C1B"}},"fabricTypes":[{"name":"FABRIC_TYPE_1","value":"leather"}]},{"id":"200477482","name":"Moonlight
        Blue Metallic","equipmentType":"COLOR","availability":"USED","price":{"baseMSRP":500.0,"baseInvoice":467.0,"estimateTmv":false},"manufactureOptionName":"Moonlight
        Blue Metallic","manufactureOptionCode":"W1W1","category":"Exterior","attributes":[],"colorChips":{"primary":{"r":64,"g":79,"b":97,"hex":"404F61"}}},{"id":"200477481","name":"Havanna
        Black Metallic","equipmentType":"COLOR","availability":"USED","price":{"baseMSRP":500.0,"baseInvoice":467.0,"estimateTmv":false},"manufactureOptionName":"Havanna
        Black Metallic","manufactureOptionCode":"4J4J","category":"Exterior","attributes":[],"colo[...]
