---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/colors/200477485?api_key=EDMUNDS_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-76.mashery.com
    body:
      encoding: UTF-8
      string: '{"id":"200477485","name":"Ibis White","equipmentType":"COLOR","availability":"USED","manufactureOptionName":"Ibis
        White","manufactureOptionCode":"T9T9","category":"Exterior","attributes":[],"colorChips":{"primary":{"r":250,"g":250,"b":250,"hex":"FAFAFA"}},"fabricTypes":[]}'
  recorded_at: Sun, 08 Mar 2015 09:10:38 GMT
recorded_with: VCR 2.9.3
