---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/vins/JHMAP11461T005905?api_key=EDMUNDS_API_KEY&fmt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Akamai-Device-Characteristics:
      - device_os=,device_os_version=,is_mobile=false,is_tablet=false,physical_screen_height=,physical_screen_width=,resolution_height=,resolution_width=
      X-Akamai-Edgescape:
      - georegion=246,country_code=US,region_code=CA,city=UNIONCITY,dma=807,pmsa=5775,msa=7362,areacode=510,county=ALAMEDA,fips=06001,lat=37.5970,long=-122.059,timezone=PST,zip=94587,continent=NA,throughput=vhigh,bw=5000,asnum=33651
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-75.mashery.com
    body:
      encoding: UTF-8
      string: '{"make":{"id":200001444,"name":"Honda","niceName":"honda"},"model":{"id":"Honda_S2000","name":"S2000","niceName":"s2000"},"engine":{"id":"200327640","name":"Engine","equipmentType":"ENGINE","availability":"STANDARD","compressionRatio":11.0,"cylinder":4,"size":2.0,"displacement":2.0,"configuration":"inline","fuelType":"premium
        unleaded (required)","horsepower":240,"torque":153,"totalValves":16,"type":"gas","code":"4INAG2.0","compressorType":"NA","rpm":{"horsepower":8300,"torque":7500},"valve":{"timing":"variable
        valve timing","gear":"double overhead camshaft"}},"transmission":{"id":"200327641","name":"6M","equipmentType":"TRANSMISSION","availability":"STANDARD","transmissionType":"MANUAL","numberOfSpeeds":"6"},"drivenWheels":"rear
        wheel drive","numOfDoors":"2","options":[],"colors":[{"category":"Interior","options":[{"id":"200327630","name":"Black","equipmentType":"COLOR","availability":"USED"},{"id":"200327633","name":"Red","equipmentType":"COLOR","availability":"USED"}]},{"category":"Exterior","options":[{"id":"200327635","name":"Spa
        Yellow Pearl","equipmentType":"COLOR","availability":"USED"},{"id":"200327629","name":"Berlina
        Black","equipmentType":"COLOR","availability":"USED"},{"id":"200327632","name":"New
        Formula Red","equipmentType":"COLOR","availability":"USED"},{"id":"200327634","name":"Silverstone","equipmentType":"COLOR","availability":"USED"},{"id":"200327631","name":"Grand
        Prix White","equipmentType":"COLOR","availability":"USED"}]}],"manufacturer":"Honda
        Motor Corporation","manufacturerCode":"AP1141ENW","price":{"baseMSRP":32300.0,"baseInvoice":28733.0,"deliveryCharges":440.0,"usedTmvRetail":9467.0,"usedPrivateParty":7733.0,"usedTradeIn":6692.0,"estimateTmv":false,"tmvRecommendedRating":0},"categories":{"market":"Performance","EPAClass":"Two
        Seaters","vehicleSize":"Compact","primaryBodyType":"Car","vehicleStyle":"Convertible","vehicleType":"Car"},"vin":"JHMAP11461T005905","squishVin":"JHMAP1141T","years":[{"id":100000121,"year":2001,"styles":[{"id":100001280,"name":"2dr
        Roadster (2.0L 4cyl 6M)","submodel":{"body":"Convertible","modelName":"S2000
        Convertible","niceName":"convertible"},"trim":"Base"}]}],"matchingType":"SQUISHVIN","MPG":{"highway":"24","city":"18"}}'
  recorded_at: Sun, 23 Aug 2015 06:10:43 GMT
recorded_with: VCR 2.9.3
