---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/vins/invalid?api_key=EDMUNDS_API_KEY&fmt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Akamai-Device-Characteristics:
      - device_os=,device_os_version=,is_mobile=false,is_tablet=false,physical_screen_height=,physical_screen_width=,resolution_height=,resolution_width=
      X-Akamai-Edgescape:
      - georegion=85,country_code=DE,region_code=NW,city=KOLN,dma=,pmsa=,msa=,areacode=,county=,fips=,lat=50.93,long=6.95,timezone=GMT+1,zip=,continent=EU,throughput=vhigh,bw=5000,asnum=3320
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-105.mashery.com
    body:
      encoding: UTF-8
      string: '{"status":"BAD_REQUEST","errorType":"INCORRECT_PARAMS","message":"The
        VIN is incorrect. It must be 17 characters","moreInfoUrl":"http://developer.edmunds.com"}'
  recorded_at: Thu, 12 Nov 2015 15:13:37 GMT
recorded_with: VCR 3.0.0
