---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/v1/vehicle/vin/JHMAP11461T005905/configuration?api_key=EDMUNDS_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-3
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-79.mashery.com
    body:
      encoding: UTF-8
      string: '{"link":{"rel":"full","href":"/api/v1/vehicle/vin/JHMAP11461T005905/configuration"},"year":2001,"make":{"name":"Honda","link":{"rel":"full","href":"/api/vehicle/honda?fmt=json"}},"vinModelGroup":null,"model":{"name":"S2000","link":{"rel":"full","href":"/api/vehicle/honda/s2000?fmt=json"}},"vehicleStyle":"Convertible","drivenWheels":"rear
        wheel drive","fuelType":"gas","compressorType":null,"trim":{"name":"Base","specialIdentifier":null},"cylinders":4,"styles":[{"link":{"rel":"full","href":"/api/vehicle/style/100001280?fmt=json"},"name":"2dr
        Roadster (2.0L 4cyl 6M)"}]}'
  recorded_at: Mon, 02 Mar 2015 03:38:47 GMT
recorded_with: VCR 2.9.3
