---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/audi?api_key=EDMUNDS_API_KEY&fmt=json&view=basic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-76.mashery.com
    body:
      encoding: UTF-8
      string: '{"id":200000001,"name":"Audi","niceName":"audi","models":[{"id":"Audi_100","name":"100","niceName":"100","years":[{"id":3295,"year":1990},{"id":897,"year":1991},{"id":3296,"year":1992},{"id":3297,"year":1993},{"id":3298,"year":1994}]},{"id":"Audi_200","name":"200","niceName":"200","years":[{"id":3300,"year":1990},{"id":3301,"year":1991}]},{"id":"Audi_80","name":"80","niceName":"80","years":[{"id":3303,"year":1990},{"id":3304,"year":1991},{"id":898,"year":1992}]},{"id":"Audi_90","name":"90","niceName":"90","years":[{"id":3306,"year":1990},{"id":899,"year":1991},{"id":3307,"year":1993},{"id":3308,"year":1994},{"id":900,"year":[...]
