---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/makes?api_key=EDMUNDS_API_KEY&fmt=json&view=basic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-85.mashery.com
    body:
      encoding: UTF-8
      string: '{"makes":[{"id":200347864,"name":"AM General","niceName":"am-general","models":[{"id":"AM_General_Hummer","name":"Hummer","niceName":"hummer","years":[{"id":3407,"year":1998},{"id":1140,"year":1999},{"id":305,"year":2000}]}]},{"id":200002038,"name":"Acura","niceName":"acura","models":[{"id":"Acura_CL","name":"CL","niceName":"cl","years":[{"id":3265,"year":1997},{"id":3266,"year":1998},{"id":960,"year":1999},{"id":100000010,"year":2001},{"id":100000456,"year":2002},{"id":100502607,"year":2003}]},{"id":"Acura_ILX","name":"ILX","niceName":"ilx","years":[{"id":100538929,"year":2013},{"id":200471908,"year":2014},{"id":200701415,"year":2015},{"id":200713715,"year":20[...]
