---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/honda/accord/2013?api_key=EDMUNDS_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-3
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-56.mashery.com
    body:
      encoding: UTF-8
      string: '{"id":100537293,"year":2013,"styles":[{"id":200434889,"name":"EX-L
        2dr Coupe (2.4L 4cyl CVT)","submodel":{"body":"Coupe","modelName":"Accord
        Coupe","niceName":"coupe"},"trim":"EX-L"},{"id":200434859,"name":"EX-L V-6
        4dr Sedan (3.5L 6cyl 6A)","submodel":{"body":"Sedan","modelName":"Accord Sedan","niceName":"sedan"},"trim":"EX-L
        V-6"},{"id":101404684,"name":"LX 4dr Sedan (2.4L 4cyl CVT)","submodel":{"body":"Sedan","modelName":"Accord
        Sedan","niceName":"sedan"},"trim":"LX"},{"id":200434890,"name":"EX-L w/Navigation
        2dr Coupe (2.4L 4cyl CVT)","submodel":{"body":"Coupe","modelName":"Accord
        Coupe","niceName":"coupe"},"trim":"EX-L w/N[...]
