---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/honda/models?api_key=EDMUNDS_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-3
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-74.mashery.com
    body:
      encoding: UTF-8
      string: '{"models":[{"id":"Honda_Accord","name":"Accord","niceName":"accord","years":[{"id":2140,"year":1990,"styles":[{"id":3869,"name":"DX
        2dr Coupe","submodel":{"body":"Coupe","modelName":"Accord Coupe","niceName":"coupe"},"trim":"DX"},{"id":3871,"name":"DX
        4dr Sedan","submodel":{"body":"Sedan","modelName":"Accord Sedan","niceName":"sedan"},"trim":"DX"},{"id":3875,"name":"EX
        4dr Sedan","submodel":{"body":"Sedan","modelName":"Accord Sedan","niceName":"sedan"},"trim":"EX"},{"id":3873,"name":"EX
        2dr Coupe","submodel":{"body":"Coupe","modelName":"Accord Coupe","niceName":"coupe"},"trim":"EX"},{"id":3879,"name":"LX
        4dr Sedan","submodel":{"body":"Sedan","modelName":"Accord Sedan","niceName":"sed[...]
