---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/styles/200477465/options?api_key=EDMUNDS_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-69.mashery.com
    body:
      encoding: UTF-8
      string: '{"options":[{"id":"200477500","name":"Audi Guard Premium Textile Floor
        Mats","description":"Set of 4 heavy duty textile mats with A6 logo, black
        with silver piping","equipmentType":"OPTION","availability":"All","price":{"baseMSRP":195.0,"baseInvoice":181.0,"estimateTmv":false},"manufactureOptionName":"Audi
        Guard Premium Textile Floor Mats","manufactureOptionCode":"6TM","category":"Interior","attributes":[{"name":"Floor
        Mats","value":"floor mats"},{"name":"2nd Row Floor Mats","value":"rear floor
        mats"},{"name":"Floor Mat Material","value":"carpet"}],"equipment":[]},{"id":"200477506","name":"Bose
        Sound System W/Subwoofer","description":"630-watts Bose Premium Surround System
        with 14 speakers; AudioPilot noise compensation","equipmentType":"OPTION","availability":"All","price":{"baseMSRP":850.0,"baseInvoice":791.0,"estimateTmv":false},"manufactureOptionName":"Bose
        Sound System w/Subwoofer","manufactureOptionCode":"8RY","category":"Interior","attributes":[],"equipment":[]},{"id":"200477507","name":"Audi
        First Aid Kit","equi[...]
