---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/honda/accord/2013/styles?api_key=EDMUNDS_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-3
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-79.mashery.com
    body:
      encoding: UTF-8
      string: '{"styles":[{"make":{"id":200001444,"name":"Honda","niceName":"honda"},"model":{"id":"Honda_Accord","name":"Accord","niceName":"accord"},"id":200434889,"name":"EX-L
        2dr Coupe (2.4L 4cyl CVT)","year":{"id":100537293,"year":2013},"submodel":{"body":"Coupe","modelName":"Accord
        Coupe","niceName":"coupe"},"trim":"EX-L"},{"make":{"id":200001444,"name":"Honda","niceName":"honda"},"model":{"id":"Honda_Accord","name":"Accord","niceName":"accord"},"id":101404684,"name":"LX
        4dr Sedan (2.4L 4cyl CVT)","year":{"id":100537293,"year":2013},"submodel":{"body":"Sedan","modelName":"Accord
        Sedan","niceName":"sedan"},"trim":"LX"},{"make":{"id":200001444,"name":"Honda","niceName":"honda"},"model":{"id":"Honda_Accord","name":"Accord","niceName":"accord"},"id":200434859,"name":"EX-L
        V-6 4dr Sedan [...]
