---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/honda/accord/2013/styles?api_key=EDMUNDS_API_KEY&fmt=json&view=basic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Akamai-Device-Characteristics:
      - device_os=,device_os_version=,is_mobile=false,is_tablet=false,physical_screen_height=,physical_screen_width=,resolution_height=,resolution_width=
      X-Akamai-Edgescape:
      - georegion=246,country_code=US,region_code=CA,city=UNIONCITY,dma=807,pmsa=5775,msa=7362,areacode=510,county=ALAMEDA,fips=06001,lat=37.5970,long=-122.059,timezone=PST,zip=94587,continent=NA,throughput=vhigh,bw=5000,asnum=33651
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-70.mashery.com
    body:
      encoding: UTF-8
      string: '{"styles":[{"make":{"id":200001444,"name":"Honda","niceName":"honda"},"model":{"id":"Honda_Accord","name":"Accord","niceName":"accord"},"id":200434889,"name":"EX-L
        2dr Coupe (2.4L 4cyl CVT)","year":{"id":100537293,"year":2013},"submodel":{"body":"Coupe","modelName":"Accord
        Coupe","niceName":"coupe"},"trim":"EX-L"},{"make":{"id":200001444,"name":"Honda","niceName":"honda"},"model":{"id":"Honda_Accord","name":"Accord","niceName":"accord"},"id":101404684,"name":"LX
        4dr Sedan (2.4L 4cyl CVT)","year":{"id":100537293,"year":2013},"submodel":{"body":"Sedan","modelName":"Accord
        Sedan","niceName":"sedan"},"trim":"LX"},{"make":{"id":200001444,"name":"Honda","niceName":"honda"},"model":{"id":"Honda_Accord","name":"Accord","niceName":"accord"},"id":200434859,"name":"EX-L
        V-6 4dr Sedan [...]
