---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/styles/200487199?api_key=EDMUNDS_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-3
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-56.mashery.com
    body:
      encoding: UTF-8
      string: '{"make":{"id":200001444,"name":"Honda","niceName":"honda"},"model":{"id":"Honda_Accord","name":"Accord","niceName":"accord"},"id":200487199,"name":"EX-L
        V6 w/Navigation 4dr Sedan (3.5L 6cyl 6A)","year":{"id":200487197,"year":2014},"submodel":{"body":"Sedan","modelName":"Accord
        Sedan","niceName":"sedan"},"trim":"EX-L V-6 w/Navigation"}'
  recorded_at: Mon, 02 Mar 2015 07:41:10 GMT
recorded_with: VCR 2.9.3
